
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}


.dark-mode header {
    background-color: #333;
    border-bottom: 1px solid #555;
}

.dark-mode header h1 {
    color: white;
}


.header-buttons {
    display: flex;
    gap: 10px;
}

header button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.dark-mode header button {
    background-color: white;
    color: black;
}


#posts {
    padding: 20px;
}

.dark-mode #posts {
    background-color: #444;
}


.post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.dark-mode .post {
    background-color: #555;
    border: 1px solid #777;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.dark-mode footer {
    background-color: #1f1f1f;
    border-top: 1px solid #333;
}

footer a {
    color: #0066cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.dark-mode footer a {
    color: #ffeb3b;
}